header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(#d6d8d6, #6e6a6a);
}

.img{
    margin-left: 15px;
    height: 90%;
}

a{
    margin: 25px;
    text-decoration: none;
    color: black;
    
}

nav{
    margin-right: 200px;
}


h1{
    font-family: 'Merriweather', serif;
    margin-right: 100px;
} 

#controles {

}